.DS_Store
Thumbs.db

.Rhistory
.Rprofile
.Rproj.user
*.Rproj

# do not include large datasets
static/lecslides/data
docs/lecslides/data
static/lecslides/18-cs2-analysis_cache
docs/lecslides/18-cs2-analysis_cache

# temporarily (while I edit course content)
Makefile

/.quarto/
