.DS_Store
Thumbs.db

.Rhistory
.Rprofile
.Rproj.user
*.Rproj

# do not include large datasets
content/lectures/data
content/exams/data
docs/lectures/data
#Content/lectures/18-cs2-analysis_cache
#docs/lecslides/18-cs2-analysis_cache

# temporarily (while I edit course content)
Makefile

/.quarto/
