<b>Note:</b> Exam and final project due dates will not change; however, since this is the first time this course is being taught, the timeline of specific topics and smaller assignments may be updated throughout the quarter. You will always be notified of this explicitly.

<br><br>

<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">
  <tr>
    <th style="width:3%;text-align:right">Week</th>
    <th style="width:20%;text-align:right">Date</th>
    <th style="width:37%">Lesson</th>
    <th style="width:5%;text-align:center">Reading</th>
    <th style="width:5%;text-align:center">Lecture Slides</th>
    <th style="width:5%;text-align:center">Lab Slides</th>
    <th style="width:5%;text-align:center">Lab</th>
    <th style="width:5%;text-align:center">Lab Answers</th>
    <th style="width:5%;text-align:center">HW</th>
    <th style="width:5%;text-align:center">Exam</th>
    <th style="width:5%;text-align:center">Project</th>

  </tr>

  {{ range $.Site.Data.lessons }}
    {{range . }}
    <tr>
      <td align="right">{{ .week }}</td>
      <td align="right">{{ .date }}</td>
      <td>{{ .title }}</td>
    
      {{ if .reading }}
      <td align="center"><a href="{{ .Site.baseurl }}/reading/{{ .reading  }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}
    
      {{ if .lecslides }}
      <td align="center"><a href="{{ .Site.baseurl }}/lecslides/{{ .lecslides  }}">
          <i class="fa fa-laptop  fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-laptop  fa-lg"></i></font></td>
      {{ end }}
      
      
      {{ if .labslides }}
      <td align="center"><a href="{{ .Site.baseurl }}/labslides/{{ .labslides  }}">
          <i class="fa fa-flask  fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-flask  fa-lg"></i></font></td>
      {{ end }}
      

      {{ if .lab }}
      <td align="center"><a href="{{ .Site.baseurl }}/labs/{{ .lab }}">
          <i class="fa fa-code fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-code fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .labanswers }}
      <td align="center"><a href="{{ .Site.baseurl }}/labanswers/{{ .labanswers }}">
          <i class="fa fa-caret-up fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-caret-up fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/hw/{{ .hw }}">
          <i class="fa fa-pencil-square-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil-square-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .exam }}
      <td align="center"><a href="{{ .Site.baseurl }}/exam/{{ .exam }}">
          <i class="fa fa-check-square fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-square fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .project }}
      <td align="center"><a href="{{ .Site.baseurl }}/project/{{ .project }}">
          <i class="fa fa-file-powerpoint fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-file-powerpoint fa-lg"></i></font></td>
      {{ end }}
      
      
    </tr>
    {{ end }}
  {{ end }}

</table>